*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --bg-color : #224D77;
}
img{
    width: 100%;
    height: 100%;
}
.container{
    max-width: 96vw;
    width: 100%;
}
.header{
    background-color: var(--bg-color) ;
}
.header-inner{
    height: 70px;
    display: flex;
    align-items: center;
    color: white;
}
.logo{
    max-width: 100%;
}
.caragory{
    max-width: 20%;
    width: 100%;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.search{
    max-width: 50%;
    width: 100%;
}
.search input{
    width: 100%;
    height: 40px;
    border-radius: 99px;
    padding: 0px 10px;
    border: none;
    background-color: #395F85;
}
.search input::placeholder{
    color: white;
}
.login{
    max-width: 20%;
    width: 100%;
    padding: 0 0 0 50px;
}
/* intro sec start  */
.intro{
    background-image: url('../Assets/Images/bio-metric.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.intro-inner{
    display: flex;
    flex-direction: column;
    width: 40vw;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
}